<?xml version="1.0" encoding="UTF-8"?>
<web-app><!--  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1"> -->
  <display-name>MyMails</display-name>
  <welcome-file-list>
   <welcome-file>Home.html</welcome-file>
   <!--  <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  <!-- <servlet>
  	<load-on-startup>0</load-on-startup>
  	<servlet-name>PDS</servlet-name>
  	<servlet-class>ParameterDemoServlet</servlet-class>
  	<init-param>
  		<param-name>demoParam</param-name>
  		<param-value>Hello</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PDS</servlet-name>
  	<url-pattern>/PDS</url-pattern>
  </servlet-mapping> -->
  <context-param>
  	<param-name>commonParam1</param-name>
  	<param-value>FirstCommonParam</param-value>
  </context-param>
  <context-param>
  	<param-name>commonParam2</param-name>
  	<param-value>SecondCommonParam</param-value>
  </context-param>
</web-app>